﻿@model IEnumerable<CarDealership.Models.Car>

@{
    ViewBag.Title = "Index";
}

<h2>Check out these fine, high-quality cars for sale! CLICK FOR DETAILS!</h2>
@if (ViewBag.User != null){
    <h3>@ViewBag.User.UserMessage</h3>
}
<div class="container">

    @for (int i = 0; i < Model.Count(); i = i+3 )
        {
           var ca = Model.ElementAt(i);
            <div class="row">
                <div class="col-md-4">
                    <a href="@Url.Action("Details2", new { year = ca.Year, make = ca.Make, model = ca.Model})">
                        <img src="@ca.ImageUrl" alt="This is a car for sale" class="car-image" />
                    </a>
                </div>
                @if ((i + 1) < Model.Count()) {
                    ca = Model.ElementAt(i+1);
                    <div class="col-md-4">
                        <a href="@Url.Action("Details2", new { year = ca.Year, make = ca.Make, model = ca.Model})">
                            <img src="@ca.ImageUrl" alt="This is a car for sale" class="car-image" />
                        </a>
                    </div>
                }
                @if ((i + 2) < Model.Count()) { 
                    ca = Model.ElementAt(i+2);
                    <div class="col-md-4">
                        <a href="@Url.Action("Details2", new { year = ca.Year, make = ca.Make, model = ca.Model})">
                            <img src="@ca.ImageUrl" alt="This is a car for sale" class="car-image" />
                        </a>
                    </div>
                }
            </div>
            <div>&nbsp;
            </div>
        }
</div>

<div>
    <div class="row"><a href="@Url.Action("Add")">Add a car here!</a></div>
</div>